html{
    background-color: rgb(190, 173, 173);
    font-family: monospace;

    /**/
    background-color: #0c0a0b;
}
*{
    box-sizing: border-box;
    color: white;
}
.workspaces {
    position: relative;
    background-color: transparent;
    min-width: 100px;
    height: max-content;
    width: max-content;

    border-radius: 5px;

    box-shadow: 0.4em 0.4em 0em #695e62;
    border: solid 1px #695e62;

    margin-right: 0.8em;
    margin-top: 0.8em;
}
#nav-bar{
    display: flex;
    
    justify-content: space-evenly;
}
#nav-bar div h2 {
    color: white;
}
hr{
    border-color: #695e62;
}

#nav-bar h1{
    color: rgba(19, 6, 6, 0.685);
    text-shadow: 0.04em 0.04em 0.04em white;
    text-align: center;
}
#nav-bar div{
    
    width: 30%;
    align-items: center;

    display: flex;
    justify-content: center;
}
#add-workspace{
    background-color: transparent;
    border: solid 1px #695e62;
    padding: 5px;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}
#foot a img:hover, #add-workspace:hover, button:hover{
    background-color: #695e62;
    color: white;
}
.commit{
    background-color: transparent;
    color: #695e62;
}

.clone{
    background-color: transparent;
    color: #695e62;
}
.run-code{
    background-color: transparent;
    color: #695e62;
}

.space{
    width: 100%;
}
.top-bar{
    display: flex;
    padding: 2px;
    margin-bottom: 5px;
}

.title-bar{
    flex-grow: 2;
    font-weight: bolder;
    display: flex;
}
.title-bar > button {
    padding: 0.3em 0.6em;
    border: none;
    box-shadow: 0.04em 0.04em 0em;
    border-radius: 3px;
    font-weight: bolder;
    margin-left: 5%;
}
.heading{
    font-size: 1.3em;
}
.files{
    display: flex;
    overflow-x: scroll;
    padding-left: 0.5em;
    width: 100%;
}
.open-files{
    color: white;
    font-weight: bolder;
    border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    padding: 0.2em 0.5em;
    margin-right: 2px;

    white-space: nowrap;
    margin-bottom: 2px;
    cursor: pointer;
    
}
.files::-webkit-scrollbar{
    height: 3px;
}
.files::-webkit-scrollbar-thumb{
    height: 3px;
    background-color: #310613;
    border-radius: 10px;
}
.manage-workspace{
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    width: 15%;
}
.manage-workspace button {
    border: none;
    border-radius: 0%;
    padding: 0;
    background-color: transparent

}
.manage-workspace button img {
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background-color: transparent;

}
#innerhtml{
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    border-top: solid 1px #695e62;
    padding: 1em;
}

#innerhtml::-webkit-scrollbar{
    width: 5px;
}
#innerhtml::-webkit-scrollbar-thumb{
    background-color: rgb(63, 50, 50);
    border-radius: 5px;
}
#innerhtml::-webkit-scrollbar-corner{
    background-color: transparent;
    border-radius: 5px;
}


#innerhtml:focus{
    outline: 0;
    height: 100%;
}
#main{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}
img{
    vertical-align: middle;
}

button{
    cursor: pointer;
}

#account {
    background-color: transparent;
    border: solid 1px #695e62;
    border-radius: 5px;
    transform: scale(0.8);
}
#account:hover {
    background-color: #695e62;
}

.clicked-tab {
    background-color: orangered;
    color: black;
    box-shadow: 0.04em 0.04em 0.04em,
                -0.04em -0.04em 0.04em;
}
.unclicked-tab {
    background-color: transparent;
    border: solid 1px #695e62;
}

.heading{
    color: orangered;
    text-shadow: 0.05em 0.05em 0em rgb(7, 14, 1);
    font-variant: small-caps;
}
textarea{
    font-size: 1.1em;
    font-weight: bolder;
    color: #f5b9aa;
}

body{
    margin: 5px;
    border: solid 1px #695e62;
    padding: 5px;
    border-radius: 5px;
}
#foot{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
#foot a img {
    width: 2em;
    border-radius: 50%;
}
#foot a {
    margin-left: 2em;
}

#foot h5{
    font-size: 1.3em;
}

#terminal0 {
    display: none;
    border: solid 1px rgba(255, 0, 0, 0.507);
    border-radius: 5px;
    padding: 1em;
    background-color: rgba(1, 6, 15, 0.973);

    position: fixed;
    top: 5em;
    left: 2em;
    right: 2em;
    z-index: 4;
}
#commands::-webkit-scrollbar{
    background-color: transparent;
    width: 0.2em;
}
#commands::-webkit-scrollbar-thumb{
    background-color: #e287b4;
    border-radius: 10px;

}
.terminal {
    color: white;
    width: 85%;
    text-align: center;

}

#commands{
    border-top: solid 1px white;
    overflow-y: scroll;
}
.enter-commands{
    margin-top: 10px;
    display: flex;
    
}
.enter-commands span{
    width: max-content;
    padding-right: 0.4em;
    color: purple;
    font-weight: bolder;
}
.input-commands{
    background-color: transparent;

    flex-grow: 3;
    outline: none;
    border: none;
    color: rgb(90, 247, 28);
    font-family: monospace
}

.notes {
    border: solid 1px #695e62;
    margin-top: 2em;
    padding: 2em;
    border-radius: 10px;
}
.notes h3 {
    color: rgb(243, 91, 35);
    
}
.notes{
    text-align: justify;
}

/* getInnerHtml(html) */

/*The DOM Tree Styling*/
#the-tree div {
    border: solid 1px #ec50122a;
    border-radius: 5px;
    margin: 2% auto;
    padding: 0.5em;

    width: max-content;
}
#the-dom-tree{
    border: solid 1px #695e62;
    margin-top: 2em;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
#the-tree{
    margin: 0 auto;
    width: 100%;
    font-family: monospace;
    font-weight: bolder;
}
#innerhtml {
    border: solid 1px #695e62;
    width: 100%;
    height: 150px;
}
b{
    color: orangered;
}
#toggle-node-diagram{
    background-color: orangered;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
    position: absolute;
    right: 2em;
    margin-top: 2em;
    z-index: 1;
}