#wait {
    background-image: linear-gradient(45deg, orange, red) right center no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 6;
}
.fade-in {
    animation: fadein 1s ease-in-out;
}
@keyframes fadein {
    from{
        opacity: 0;
        transform: rotateX(-90deg) scale(0.1);
    }
    to {
        opacity: 1;
    }
}
.wrapper {
    margin: 10em auto;
    background-color: rgba(0, 0, 0, 0.705);


    width: 200px;
    height: 200px;
    position: relative;

    color: white;
    font-family: monospace;

    border-radius: 50%;

    box-shadow: 0.04em 0.04em 5em #695e62;
}

.blocks {
    position: absolute;
    height: 100px;
    width: 100px;
    transform-origin: center;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
}

.inner-blocks {
    border-top: solid 3px #695e62;
    border-bottom: solid 1px #695e62;
    width: 40px;
    height: 100%;
    transform-origin: center;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10px;
    font-weight: bolder;

    display: flex;
    flex-direction: column;
}

.inner-blocks span{
    height: 50%;
}
.lowerspan {
    
}
#power {
    width: 100px;
    margin: 0 auto;
    border: solid 1px #695e62;
    border-radius: 50%;
}
#power img {
    vertical-align: middle;
}
#power:hover {
    box-shadow: 0.04em 0.04em 0.4em white;
}